<div class="paper-form container p-0" id="formPerifericosModal">
                        
                        <div class="row row-compact">
                            <div class="col-12 text-center cell-border justify-content-center bg-light p-2">
                                <h6 class="m-0 fw-bold" style="letter-spacing: 1px;">RECIBO DE PERIFÉRICOS Y COMPONENTES</h6>
                            </div>
                        </div>

                        <div class="row row-compact">
                            <div class="col-12 cell-border">
                                <span class="label-text me-2">FECHA:</span>
                                <input type="text" class="input-line" id="modal_fecha" readonly style="max-width: 150px;">
                            </div>
                        </div>
                        <div class="row row-compact">
                            <div class="col-12 cell-border">
                                <span class="label-text me-2">FICHA:</span>
                                <input type="number" class="input-line" id="modal_ficha" readonly>
                            </div>
                        </div>
                        <div class="row row-compact">
                            <div class="col-12 cell-border">
                                <span class="label-text me-2">USUARIO:</span>
                                <input type="text" class="input-line" id="modal_usuario" readonly>
                            </div>
                        </div>
                        <div class="row row-compact">
                            <div class="col-12 cell-border">
                                <span class="label-text me-2">EXT/TLF:</span>
                                <input type="text" class="input-line" id="modal_ext" readonly>
                            </div>
                        </div>

                        <div class="row row-compact">
                            <div class="col-3 cell-border">
                                <div class="form-check">
                                    <input class="form-check-input modal-peri-check" type="checkbox" id="chk_1" disabled>
                                    <label class="label-text" style="font-size: 11px;">MONITOR</label>
                                </div>
                            </div>
                            <div class="col-3 cell-border">
                                <div class="form-check">
                                    <input class="form-check-input modal-peri-check" type="checkbox" id="chk_2" disabled>
                                    <label class="label-text" style="font-size: 11px;">TECLADO</label>
                                </div>
                            </div>
                            <div class="col-3 cell-border">
                                <div class="form-check">
                                    <input class="form-check-input modal-peri-check" type="checkbox" id="chk_6" disabled>
                                    <label class="label-text" style="font-size: 11px;">SCANER</label>
                                </div>
                            </div>
                            <div class="col-3 cell-border">
                                <div class="form-check">
                                    <input class="form-check-input modal-peri-check" type="checkbox" id="chk_7" disabled>
                                    <label class="label-text" style="font-size: 11px;">PENDRIVES</label>
                                </div>
                            </div>
                        </div>

                        <div class="row row-compact">
                            <div class="col-3 cell-border">
                                <div class="form-check">
                                    <input class="form-check-input modal-peri-check" type="checkbox" id="chk_4" disabled>
                                    <label class="label-text" style="font-size: 11px;">REGULADOR</label>
                                </div>
                            </div>
                            <div class="col-3 cell-border">
                                <div class="form-check">
                                    <input class="form-check-input modal-peri-check" type="checkbox" id="chk_5" disabled>
                                    <label class="label-text" style="font-size: 11px;">IMPRESORA</label>
                                </div>
                            </div>
                            <div class="col-3 cell-border">
                                <div class="form-check">
                                    <input class="form-check-input modal-peri-check" type="checkbox" id="chk_3" disabled>
                                    <label class="label-text" style="font-size: 11px;">MOUSE</label>
                                </div>
                            </div>
                            <div class="col-3 cell-border">
                                <div class="form-check">
                                    <input class="form-check-input modal-peri-check" type="checkbox" id="chk_8" disabled>
                                    <label class="label-text" style="font-size: 11px;">TÓNER</label>
                                </div>
                            </div>
                        </div>

                        <div class="row row-compact">
                            <div class="col-12 cell-border">
                                <div class="form-check p-0 m-0 w-100">
                                    <span class="label-text me-2">COMPONENTES:</span>
                                    <input type="text" class="input-line" id="modal_componenteTexto" readonly placeholder="Ninguno">
                                </div>
                            </div>
                        </div>
                        <div class="row row-compact">
                            <div class="col-12 cell-border">
                                <div class="form-check p-0 m-0 w-100">
                                    <span class="label-text me-2">OTROS:</span>
                                    <input type="text" class="input-line" id="modal_otros" readonly placeholder="Ninguno">
                                </div>
                            </div>
                        </div>

                        <div class="row row-compact">
                            <div class="col-12 cell-border">
                                <span class="label-text me-2">FMO/ SERIAL:</span>
                                <input type="text" class="input-line" id="modal_fmoSerial" readonly>
                            </div>
                        </div>
                        <div class="row row-compact">
                            <div class="col-12 cell-border">
                                <span class="label-text me-2">FMO ASIGNADO:</span>
                                <input type="text" class="input-line" id="modal_fmoAsignado" readonly>
                            </div>
                        </div>
                        <div class="row row-compact">
                            <div class="col-12 cell-border">
                                <span class="label-text me-2">DPTO/GCIA:</span>
                                <input type="text" class="input-line" id="modal_gerencia" readonly>
                            </div>
                        </div>
                        <div class="row row-compact">
                            <div class="col-12 cell-border">
                                <span class="label-text me-2">FALLA:</span>
                                <input type="text" class="input-line" id="modal_falla" readonly>
                            </div>
                        </div>
                        <div class="row row-compact">
                            <div class="col-12 cell-border">
                                <span class="label-text me-2">ASIGNADO A:</span>
                                <input type="text" class="input-line" id="modal_asignadoA" readonly>
                            </div>
                        </div>
                        <div class="row row-compact">
                            <div class="col-12 cell-border">
                                <span class="label-text me-2">N.º SOLICITUD S.T.:</span>
                                <input type="text" class="input-line" id="modal_solicitudST" readonly>
                            </div>
                        </div>
                        <div class="row row-compact">
                            <div class="col-12 cell-border">
                                <span class="label-text me-2">N.º SOLICITUD DAET:</span>
                                <input type="text" class="input-line" id="modal_solicitudDaet" readonly> 
                            </div>
                        </div>

                        <div class="row row-compact">
                            <div class="col-12 cell-border" style="height: 45px;">
                                <span class="label-text">ENTREGADO POR:</span>
                                <input type="text" class="input-line" id="modal_entregadoPor" readonly>
                            </div>
                        </div>
                        <div class="row row-compact">
                            <div class="col-12 cell-border" style="height: 45px;">
                                <span class="label-text">RECIBIDO POR:</span>
                                <input type="text" class="input-line" id="modal_recibidoPor" readonly>
                            </div>
                        </div>

                    </div>